/* Import das fontes escolhidas no fonts.google.com */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');
/* import dos icones em https://cdnjs.com/libraries/font-awesome */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

/* --------------------------------------------------------------------------------------------*/
/* ----                      Configuração da Home                                           ---*/
/* --------------------------------------------------------------------------------------------*/

*{   /* Retirar todas as margens dos elementos */
    margin: 0;
    padding: 0;
    list-style: none;      /* retira as bolinhas do List Item */
    text-decoration: none; /* retira links do List Item */
}

/* Fontes definidas nas variáveis */
:root{
    --font-primaria: "Baloo Da 2", serif;
    --font-secundaria: "Josefin Slab", serif;
    --font-acao: "Mulish", serif;
}

html {
    scroll-behavior: smooth;    /* Faz com que a navegação nas paginas seja mais suave */
}

/* Configurar o menu Hamburger */
.hamburger {
    /* background-color: red; */
    width: 2rem;
    height: 2rem;
    position: fixed; /* Sempre será apresentado no mesmo local, mesmo que a tela rolagem */
    z-index: 100; /* parametro tras para a frente o menu. Caso não informe fica atras da pagina */
    right: 3rem;  /* Apresentar a 2rem (32px) da Margem direita da Tela */
    top: 3rem;    /* Posicionar a 2rem (32px) da Margem Topo da Tela */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

/* Configurar a apresentaçao dos 3 --- do menu no canto superior direito Menu */
.line {
    width: 100%;   /* mesmo tamanho definido na classe Hamburger */
    height: .1rem; /* tamanho to traço */
    background-color: white; /* traço em branco para apresentar o menu */
    box-shadow: 0.1rem 0.1rem 1px black; /* Sombra dos traços */ 
    transition: transform 1s;
}

/* Configurar para transformar o X no menu de Fechar */ 
.show-menu #line1{
    transform: rotate(45deg) translate(.2rem, +.3rem);
}
.show-menu #line2{
    opacity: 0;
    visibility: hidden;
}
.show-menu #line3{
    transform: rotate(-45deg) translate(.2rem, -.5rem);
}
/* Fim Configurar para transformar o X no menu de Fechar */

/* exibir Fechar ao lado do X */
.hamburger span{
    position: absolute;
    left: 3rem;
    height: 2rem;
    width: 6rem;
    display: flex;             /* para alinhar o texto */
    justify-content: center;   /* para alinhar o texto */ 
    align-items: center;       /* para alinhar o texto */
    background-color: #6a3093;
    color: white;
    font-family: var(--font-acao);
    opacity: 0;
    
}

.show-menu .hamburger:hover span{
    opacity: 1;
}
.show-menu .hamburger{
    right: 16rem;
}

header {         
    width: 100%;         /* Vai ocupar a tela inteira, por iso 100% */ 
    height: 100vh;       /* Altura da pagina da visualização do navegador. Depende se Note, Mobile, Tablet */
    overflow: hidden;    /* não cria a barra de rolagem horizontal quando é reduzida a tela */
    position: relative;  /* para o position absoluto no banner funcionar */
}

.img-wrapper {   /* Classe no CSS para o pacote da Imagem Principal */
    width: 100%;  /* Vai ocupar todo o espaço do container Header */
    height: 100%;
    overflow: hidden; /* não cria a barra de rolagem horizontal quando é reduzida a tela */
    background-color: rgba(0,0,0,0.8) /* o fundo sera preto com 0.50% de opacidade */
}   

.img-wrapper img{  /* formatar apenas a imagem (Img) que está dentro de img-wrapper */
    width: 100%;  /* Vai ocupar todo o espaço do container Header */
    height: 100%;
    object-fit: cover;  /* Quando a tela é reduzida para trabalhar com a centralização da imagem */
    opacity: 0.5; /* cria uma transparencia na imagem */
    /* animação do Zoom  animation: nome duração(segundos) */
    animation: zoom 15s;
} 

/*---------------------- Animação de Abertura --------------------- */
@keyframes zoom {
    0%{
        transform: scale(1.3);    /* zoom de 30% na imagem */
    }
    100%{
        transform: scale(1);      /* passa para 100% da imagem */
    }
}

.banner {
    position: absolute;
    left: 15%;  /* posição do elemento em relação a borda esquerda */
    top: 30%;  /* 30% do topo da margem superior */
}

.banner h1{   /* Formatar apenas o H1 que está dentro do Banner */ 
    color: #ffffff;  /* Cor da Fonte Branco */
    font-size: 2.5rem; /* se 16px, ao ampliar a tela não vai ampliar. 1rem vai usar o padrao 16px3.5x16px= 56px */
    /* Fontes definidas nas variáveis no root */
    font-family: var(--font-primaria) ; /* fonte do Google definida no .Css e, caso o link de fotes fique fora do ar, será utilizada a font serif como padrão */
    font-weight: 100; /* carregar a fonte na sua bold */
    text-shadow: .3rem .4rem 2px rgba(0, 0, 0, 0.4); /* Configuração para a sombra */
    line-height: 1.0; /* Espaço entre "Web Developer & Front End" com "Designer" */
    margin-bottom: 2rem; /* Após exibir o h1, dar um espaço para iniciar o paragrafo abaixo */ 
    opacity: 0;
    animation: moveBanner 1s 0.5s forwards;  /* 0.5 segundos de atraso */
    
}
.banner p{  /* Configurar o parágrafo dentro do Banner */
    color: #ffffff;  /* Cor da Fonte Branco */
    font-size: 1.5rem; /* se 16px, ao ampliar a tela não vai ampliar. 1rem vai usar o padrao 16px 2x16px= 32px */
    /* Fontes definidas nas variáveis no root */
    font-family: var(--font-secundaria) ; /* fonte do Google definida no .Css e, caso o link de fotes fique fora do ar, será utilizada a font serif como padrão */
    text-shadow: .2rem .2rem rgba(0, 0, 0, 0.4); /* Configuração para a sombra */
    margin-bottom: 2rem; /* Após exibir o p1, dar um espaço para exibir o botão abaixo */ 
    opacity: 0;
    animation: moveBanner 1s 0.7s forwards;  /* 0.7 segundos de atraso */
} 

.banner button{ /* Botão dentro do Banner */
    /* Fontes definidas nas variáveis no root */
    font-family: var(--font-acao) ; /* fonte do Google definida no .Css e, caso o link de fotes fique fora do ar, será utilizada a font serif como padrão */
    color: #ffffff;  /* Cor da Fonte Branco */
    font-size: 0.8rem;
    text-transform: uppercase;  /* passou para todas as letras maiusculas */
    letter-spacing: 0.1rem;     /* Espaços entre as letras */
    /* utilizando o uigradientes.com e copiando o gradiente do Background do botão */
    background: #FF0099;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #493240, #FF0099);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #493240, #FF0099); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* padding: 1rem; Significa que o botão ficaria com 16px de espaço em cima, em baixo, direita e esquerda. mas vamos colocar espaços diferentes para o texto dentro do botão */

    /* Os 4 comandos abaixo, podem ser reduzindos no proximo padding
    padding-top: 0.5rem;      topo com 8px 
    padding-bottom: 0.5rem;   Parte inferior com 8px 
    padding-left: 1rem;       esquerda com 16px 
    padding-right: 1rem;      direita com 16px */
    
    /* padding pode ser usado tb -> padding: Topo, Right, bottom, Left */
    padding: 0.5rem 2.5rem;   /* 0.5 rem topo e bottom e 1 rem direita e esquerda */
    border: none;   /* sem bordas */
    border-radius: 5px;  /* Arredondar a borda do botão em 5px */
    cursor: pointer; /* quando passar o mouse em cima do botão, vira um ponteiro */
    opacity: 0;
    animation: moveBanner 1s 0.9s forwards;  /* 0.9 segundos de atraso */
}

@keyframes moveBanner {
    0%{
        transform: translateY(10rem) rotateY(.30deg);    /* desce 160px  com rotação de 30 graus*/
    }
    100%{
        transform: translateY(0) rotatey(0);      /* posição que estava antes */
        opacity: 1; /* após animação ele apresenta o texto */
    }
}

/* Definindo a barra lateral do Menu */
.sidebar {
    width: 20rem;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0;
    right: -20rem;   /* menu não é visivel ao carregar a tela, fica de fora */
    transition: all 1s;
    z-index: 150;
}

.show-menu .sidebar{
    right: 0;  /* quando e apresentado o menu, fica na posição zero */


}
/* Definindo a posição do Menu */
.menu {
    position: absolute;
    top: 40%;  /* 40% do tamanho da sidebar, contando do Topo até onde será exibido */
    left: 50%; /* 50% do tamanho da sidebar, contando da esquerda para a direita */
    transform: translate(-50%, -50%);

}

/* Definindo a posição dos Itens do Menu */
.menu-item {
    text-align: center;    /* os itens do menu ficarão centralizados */
    margin-bottom: .5rem;  /* espaçamento entre os itens */

}

/* Definindo os Links dos Itens do Menu */
.menu-link {
    font-family: var(--font-acao);  /* A fonte está definida la em cima no root */
    font-size: 2rem;
    color: #555;
    transition: color 1s;  /* transição da cor vai demorar 1 segundo */

}
.menu-link:hover {
    color: #320750   /* quando passar o mouse sobre o item de menu, muda para roxo */
}

/* Definindo a posição dos icones de social media */
.social-media {
    position: absolute;
    bottom: 2rem;   /* da posição inferior, sobe 32px que são 2 rem */
    width: 100%;    /* Todo tamanho do espaço definido para o menu lateral */
    display: flex;
    justify-content: space-evenly; /* alinhar o conteudo dos elementos com espaços entre eles iguais */
}

.social-media i{
    background-color: #6a3093;
    color: white;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.5rem;  /* Como o icone é considerada uma fonte, o tamanho aumenta com font-size */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 0.5s;
}

.social-media i:hover{
    background-color: #beaad1;
}

.banner button:hover{
    opacity: 0.8;   /* muda o opacidade */
    color: black;  /* muda a cor da fonte */
}

/* --------------------------------------------------------------------------------------------*/
/* ----                      Fim  Configuração da Home e Menu                               ---*/
/* --------------------------------------------------------------------------------------------*/

/* --------------------------------------------------------------------------------------------*/
/* ----                              CONHECIMENTOS                                          ---*/
/* --------------------------------------------------------------------------------------------*/

.conhecimentos {
    display: grid;
    grid-template-columns: repeat(16, 1fr); /* são 16 colunas  */
    grid-template-rows: repeat(6, 6rem);    /* são 6 linhas. Cada uma com tamanho de 4rem */
    row-gap: 0.2rem;    /* Distancia entre os blocos */
}

.conhecimento:nth-child(1) {    /* primeiro item do conhecimento */
    grid-column: 4 / 7;         /* Inicia na coluna 4 e vai ate a 7 */
    grid-row: 1 / 3;            /* inicia na linha 1 e vai ate a 3  */   
}

.conhecimento:nth-child(2) {    /* segundo item do conhecimento */
    grid-column: 3 / 6;         
    grid-row: 3 / 5;              
}

.conhecimento:nth-child(3) {    /* terceiro item do conhecimento */
    grid-column: 4 / 7;         
    grid-row: 5 / -1;            
}

.conhecimento:nth-child(4) {    /* quarto item do conhecimento */
    grid-column: 11 / 14;         
    grid-row: 1 / 3;            
}

.conhecimento:nth-child(5) {    /* quinto item do conhecimento */
    grid-column: 12 / 15;         
    grid-row: 3 / 5;            
}

.conhecimento:nth-child(6) {    /* sexto item do conhecimento */
    grid-column: 11 / 14;         
    grid-row: 5 / -1;            
}

.sessao-conhecimentos {
    background-color: rgb(196, 190, 190);
}

.sessao-header {                /* texto Conhecimento */   
    display: flex;
    align-items: center;
    justify-content: center;
}

.sessao-header h1{              /* Formatando o Texto Conhecimento */
    font-family: var(--font-primaria);
    font-size: 2rem;
    color:#555;
    border-bottom: solid 3px #555 ;
    margin-bottom: 1.5rem;
}

.conhecimento-header{     /* com o display FLEX o icone e HTML ficaram lado a lado */
    display: flex;
    align-items: center;
    color: rgb(104, 104, 187);
}

.conhecimento-header i{   /* alterando o tamanho do icone */
    font-size: 2.5rem;
}

.conhecimento-header h3{  /* tamanho da fonte de HTML, CSS, JS */
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    padding-left: 1rem;   /* inserindo espaços entre o icone e o texto */
}

.conhecimento.text {
    font-family: var(--font-secundaria);
    margin-top: 1rem;   /* espaco entre o icone e o texto abaixo */
}

.conhecimentos-img-wrapper{
    grid-column: 7 / 11;
    grid-row: 2 / 6;
    width: 100%;
    margin-top: 6rem;
    margin-left: -1rem;
}
.conhecimentos-img-wrapper img{
    object-fit: cover;
    width: 100%;
}
/* --------------------------------------------------------------------------------------------*/
/* ----                              FIM  CONHECIMENTOS                                     ---*/
/* --------------------------------------------------------------------------------------------*/

/* --------------------------------------------------------------------------------------------*/
/* ----                              Inicio PROJETOS                                        ---*/
/* --------------------------------------------------------------------------------------------*/
.sessao-projetos {
    background-color: rgb(206, 200, 200);
}   
.projetos{
    display: Flex;
    justify-content: space-evenly;  /* Faz com que coloque espaços justificados entre as imagens */
}

.card {    /* Definindo o tamanho do Card para receber as imagens */
    width: 20rem;
    height: 30rem;
    position: relative;   /* relativa não ira sobrepor imagem */
    margin-top: 2rem;
}

.card-img-wrapper {   
    width: 100%;
    height: 100%;
    border-radius: 1rem;   /* As imagens terão a borda arredondada */
    border-top-right-radius: 3rem;  /* pode trabalhar com as bordas diferentes */
}

.card-img-wrapper img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 1rem;   /* As imagens terão a borda arredondada */
    border-top-right-radius: 3rem;  /* pode trabalhar com as bordas diferentes */
    opacity: 0.8;             /* opacidade na imagem para não deixar tão forte */ 
}

.card:hover .card-img-wrapper img{ /* passar o mouse no card, reduz a opacidade da imagem */
    opacity: 0.5;
}

.card-info {
    position: absolute;     /* as informações e botão ficarão em cima do car */
    opacity: 0;             /* Informações do card escondidas, aparece com mouse HOVER */
    visibility: hidden;     /* idem acima -> habilita em card:hover .card-info */
    bottom: 0;              /* Ficarão alinhados a 0 do bottom do Card */
    padding: 1.5rem;        /* espaços das bordas para o texto e bottom */
    transition: all .4s;   /* Animação de transição ao exibir as informações do Card */
}
.card-info h2{             /* Formatar a fonte dentro dos cards - Titulo */ 
    font-family: var(--font-primaria);
    font-size: 3rem;      /* tamanho da Fonte */
    font-weight: 500;     /* peso da fonte é para deixar Bold */
    color: #fd19b1;
}
.card-info h3{             /* Formatar a fonte dentro dos cards - Subtitulo */ 
    font-family: var(--font-secundaria);
    font-size: 2rem;      /* tamanho da Fonte */
    font-weight: bolder;     /* peso da fonte é para deixar Bold */
    color: #800711;
}
.card-info p{             /* Formatar a fonte do parágrafo (texto) */
    font-family: var(--font-acao);
    font-size: 300;
    font-weight: bolder;
    text-align: justify;
    color:rgba(14, 13, 13, 0.788);
    margin-bottom: 3rem;       /* após o texto dar espaços de 3rem  (3 x 16px) */
}
 
.card-info button{        /* Formatar o Botão */ 
    background-color: #f5be09;
    width: 8rem;
    height: 2rem;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.3rem;
}

.card:hover .card-info { /* quando passar o mouse no CARD, o CARD-INFO tera a configuração abaixo */
    opacity: 1;
    visibility: visible;

}
/* --------------------------------------------------------------------------------------------*/
/* ----                                 Fim PROJETOS                                        ---*/
/* --------------------------------------------------------------------------------------------*/

/* --------------------------------------------------------------------------------------------*/
/* ----                                 Inicio CONTATOS                                    ---*/
/* --------------------------------------------------------------------------------------------*/
.sessao-contato{
    width: 100%;
    height: 100vh;   /* tamanho da tela */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(190, 187, 187);
}
.contato-wrapper {
    width: 60%;    /* 60% do tamanho da pagina */
    height: 30rem; /* tamanho da imagem */ 
    display: flex; /* inserir imagem na left e o form na direita */
    box-shadow: 0 2rem 5rem #141314 ;

}
.contato-left {
    width: 35%;
    background-size: cover;
    background: url(imagens/contato.jpg);
}

.contato-right{
    width: 65%;
    background-color: #555;
    padding: 1rem 3rem 3rem 3rem;
 }

 .sessao-contato h1{
     width: 100%;
     text-align: center;
     font-family: var(--font-primaria);
     color: #141314;
     font-size: 3rem;
     font-weight: lighter;
 }

 .sessao-contato form{
     width: 100%;
     display: flex;  /* os itens ficarao um ao lado do outro */
     flex-direction: column; /* como estavam lado a lado, passou para coluna com um abaixo doutro */
     align-items: center;
 }

 .input-group {
     position: relative;
 }

 .field {  /* Classe dos campos da tela  */
    background: transparent;
    border: none;
    width: 20rem;
    font-size: 1.5rem;
    font-family: var(--font-secundaria);
    border-bottom: 1px dashed rgb(23, 6, 172);
    height: 3rem;
    outline: none;   /* não apresenta a caixa para digitar o campo nome, email, mensagem */
    margin: 1rem 0;

 }

 .field-label {
     position: absolute;    /* para funcionar, o pai dele deve ser relative (input-group) */
     left: 0;
     top: 2rem;
     font-family: var(--font-acao);
     text-transform: uppercase;
     font-size: 1.2rem;
     transition: all .3s;
}

.field:focus ~ label{   /* quando os campos receberem o foco, altera propriedades do label */
    top: 0;
    font-size: 1rem;
} 
     
.field:focus{
    border-bottom: 1px solid;
}

.input-group textarea{
    padding-top: 1rem;
    max-width: 25rem;  /* restringe o tamanho de ampliação da caixa de texto */
    max-height: 3;     /* 5 linhas maximo para ampliar */
}

.btn-submit {
    width: 75%;
    background-color: #2b0abe;
    color: #ffffff;
    height: 3rem;
    font-size: 1rem;
    margin-top: 2rem;
    
}
/* --------------------------------------------------------------------------------------------*/
/* ----                                 Fim CONTATOS                                        ---*/
/* --------------------------------------------------------------------------------------------*/


/* --------------------------------------------------------------------------------------------*/
/* ----                                 Inicio ORÇAMENTOS                                   ---*/
/* --------------------------------------------------------------------------------------------*/
.sessao-orcamento{
    width: 100%;
    height: 100vh;   /* tamanho da tela */
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(/imagens/orcamento.jpg);
    background-color: rgb(209, 208, 204);
    object-fit: cover;
}
.orcamento-wrapper {
    width: 50%;    /* 60% do tamanho da pagina */
    height: 30rem; /* tamanho da imagem */ 
    margin-top: 4rem;
    display: flex; /* inserir imagem na left e o form na direita */
    background-color: #cdcec8;
    opacity: 0.8; 
    box-shadow: 0 2rem 5rem #505549;
    position: relative;
}
.sessao-orcamento h1{
    position: absolute;  /* pai dele deve ser relative -> orcamento-wrapper */
    top: -5rem; /* para tirar da box Orcamento */
    left: 1.0rem;
    width: 100%;
    text-align: center;
    font-family: var(--font-primaria);
    color: #1c19d1;
    font-size: 3rem;
    font-weight: lighter;
}
.sessao-orcamento form{ /* Alinhar todo o formulário dentro do Wrapper */
    margin: 4rem;
    display: grid;
    grid-template-columns: auto 1fr; /* a primeira coluna do grid (label) é alinhado automaticamente. A segunda coluna (Campos) será preenchido até o tamanho do frame */
    column-gap: 2rem; /* insere um espaço entre as 2 colunas, Label e Campos */
    row-gap: 2rem; /* insere espaço entre as linhas de 32px */
}

.sessao-orcamento label{
    font-family: var(--font-acao);
    font-size: 1.2rem;
    font-weight: bold;
}
.sessao-orcamento input[type="number"]{
    font-family: var(--font-secundaria);
    width: 4rem;
    font-size: 1.2rem;
    outline: none;
    border: none;
    padding: 0.3rem;
}

.btn-orcamento {
    text-transform: uppercase;
    width: 75%;
    background-color: #2b0abe;
    color: #ffffff;
    height: 3rem;
    font-size: 1rem;
    margin-top: 2rem;
    border-radius: 10px;
    grid-column: 2;
}
/* --------------------------------------------------------------------------------------------*/
/* ----                                 FIM ORÇAMENTOS                                      ---*/
/* --------------------------------------------------------------------------------------------*/

/* --------------------------------------------------------------------------------------------*/
/* ----                                 INICIO DO RODAPE                                    ---*/
/* --------------------------------------------------------------------------------------------*/

footer{
    width: 100%;
    height: 6rem;
    background-color: #7d6ac5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-content {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.footer-content p{
    font-family: var(--font-secundaria);
    color: white;
    font-size: 1.2rem;
}
.social-list a{
    margin: 0 1.5rem; /* margin da o espaçamento entre os icones das midias sociais. Sendo a regra
    (margin: top right bottom left). Na sintaxe, margin: Topo/botton esquerda/direita) */ 
    font-size: 1.5rem;
}

.social-list ul{
    display: flex;
}

#link-topo {         /* Configurando a seta de Topo */
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    width: 3rem;
    height: 3rem;
    background: #6a3093;
    background: -webkit-linear-gradient(to right, #a044ff, #6a3093);  
    background: linear-gradient(to left, #a044ff, #6a3093);
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    border-radius: .3rem;
    box-shadow: 0 0.1rem 0.6rem #000000;
}
/* --------------------------------------------------------------------------------------------*/
/* ----                                    FIM DO RODAPE                                    ---*/
/* --------------------------------------------------------------------------------------------*/